/* src/styles/global.css */
:root {
  /* =====================
           Base Colors
           ===================== */
  --color-black: #14151a;
  --color-dk-gray: #222222;
  --color-gray: #a2a2ac;
  --color-lt-gray: #dddcdf;
  --color-white: #ffffff;

  --color-pink: #ff2d55;
  --color-lt-pink: #fb545b;
  --color-blue: #3e45ec;

  /* =====================
           Semantic Colors
           ===================== */

  /* Text */
  --text-primary: var(--color-black);
  --text-error: var(--color-pink);
  --text-stress: var(--color-pink);
  --text-success: var(--color-blue);
  --text-line: var(--color-lt-gray);

  /* Button */
  --button-bg: var(--color-dk-gray);
  --button-disabled: var(--color-gray);

  /* Icon */
  --icon-color: var(--color-black);
  --icon-stress: var(--color-pink);
  --icon-heart-color: var(--color-lt-pink);
  --icon-heart-stroke: var(--color-pink);

  /* Brand */
  --logo-color: var(--color-dk-gray);

  /* =====================
           Pretendard Typography
           ===================== */

  --typo-pretendard-bold-20: 700 20px Pretendard;
  --typo-pretendard-medium-18: 500 18px Pretendard;
  --typo-pretendard-regular-18: 400 18px Pretendard;
  --typo-pretendard-small-18: 300 18px Pretendard;

  --typo-pretendard-semibold-17: 600 17px Pretendard;
  --typo-pretendard-medium-17: 500 17px Pretendard;
  --typo-pretendard-regular-17: 400 17px Pretendard;

  --typo-pretendard-bold-16: 700 16px Pretendard;
  --typo-pretendard-semibold-16: 600 16px Pretendard;
  --typo-pretendard-medium-16: 500 16px Pretendard;
  --typo-pretendard-regular-16: 400 16px Pretendard;

  --typo-pretendard-semibold-15: 600 15px Pretendard;
  --typo-pretendard-medium-15: 500 15px Pretendard;

  --typo-pretendard-semibold-14: 600 14px Pretendard;
}

/* =====================
     확인 필요!
     ===================== */
#root {
  max-width: 1920px;
  margin: 0 auto;
}
/* =====================
     Global Reset
     ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  color: var(--text-primary);
}

/* Link Reset */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Button Reset */
button {
  font-family: inherit;
  cursor: pointer;
}

/* List Reset */
ul,
ol {
  list-style: none;
}

/* Image Reset */
img {
  max-width: 100%;
  display: block;
}

/* Input Reset */
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}
