.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.container {
  width: 698px;
  margin-bottom: 40px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.title {
  font: var(--typo-pretendard-semibold-16);
}
.btn {
  background: none;
  border: none;
  font: var(--typo-pretendard-bold-16);
}
