.main {
  width: 698px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  margin: 0 auto;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 22px 0px;
  border-radius: 25px;
}
.container {
  width: 100%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.title {
  font: var(--typo-pretendard-semibold-16);
}
.addBtn {
  background: none;
  border: none;
  font: var(--typo-pretendard-bold-16);
  color: var(--color-dk-gray);
}
.createbtn {
  width: 100%;
  padding: 15px 0;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 37px;
  background-color: var(--color-gray);
  color: var(--color-white);
  font: var(--typo-pretendard-semibold-17);
  cursor: unset;
}
.createbtn.active {
  background-color: var(--color-dk-gray);
  cursor: pointer;
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .main {
    max-width: 344px;
  }
  .title {
    color: transparent;
  }
}
