.container {
  padding-top: 40px;
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.no {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imageRow {
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
}

.noImg {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  max-width: none;
}

.font {
  font-family: "Pretendard", "Sans-serif";
}

/*태블릿 사이즈, 데스크탑 사이즈*/
@media (min-width: 376px) {
  .imageRow {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .noImg {
    width: 375px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
  }
}
