.container {
  padding-top: 40px;
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.no {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imageRow {
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
}

@media (max-width: 798px) {
  .imageRow {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
}

.noImg {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  max-width: none;
}

.font {
  font-family: "Pretendard", "Sans-serif";
}
