.container {
  padding-top: 40px;
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.no {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.no p {
  margin: 0;
}

.font {
  font-family: "Pretendard", "Sans-serif";
}

.noImg {
  padding: 0;
}
