.btn {
  border-radius: 37px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  padding: 9px;
}
.btn--primary {
  background-color: #222222;
  color: #ffffff;
}
.btn--grey {
  background-color: #a2a2ac;
}
