.filter {
  display: flex;
  align-items: center;
  gap: 5px; /* 이게 가장 간단! */
  margin-bottom: 32px;
}

.arrowBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.textBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.span {
  font: var(--typo-pretendard-small-18);
}
