.filter {
  display: flex;
  align-items: center;
  gap: 5px; /* 이게 가장 간단! */
  margin-bottom: 32px;
}

.arrowBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.textBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.textBtn {
  background: none;
  border: none;
  font-size: 14px;
}

h3 {
  font: var(--typo-pretendard-semibold-16);
}

.arrowBtn {
  background: none;
  border: none;
}

/* 모달 배경 */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* 모달 박스 */
.modal {
  width: 375px;
  height: 300px;
  background: white;
  border-radius: 16px;
  padding: 40px 24px 60px;
}

/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closeBtn img {
  width: 20px;
  height: 20px;
}

/* 리스트 */

.list li {
  display: flex; /* ⭐ 핵심 */
  justify-content: space-between;
  align-items: center;

  padding: 25px 0 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.active {
  color: red;
  font: var(--typo-pretendard-bold-16);
}
