/* =====================
Input 컴포넌트 공통 CSS
===================== */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.input {
  background: none;
  border: none;
  color: #222;
}
.input::placeholder {
  color: #bdbdbd;
}
/* .input:focus-visible {
  border: none;
} */

/* =====================
File Input CSS
===================== */
p.input {
  margin: 0;
  color: #bdbdbd;
}
.fileInput {
  display: none;
}

.uploadButton {
  position: absolute;
  top: 8px;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid #222222;
  color: #222222;
  cursor: pointer;
  border-radius: 8px;
}
