/* =====================
Input 컴포넌트 공통 CSS
===================== */
.wrapper {
  padding: 10px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 25px;
}
.wrapper:focus-within {
  border: 1px solid var(--color-blue);
}
.input {
  background: none;
  color: var(--color-gray);
  font: var(--typo-pretendard-regular-17);
  line-height: 1.5;
}
input::placeholder {
  color: var(--color-gray);
}
label {
  font: var(--typo-pretendard-semibold-14);
}

/* =====================
File Input CSS
===================== */
p.input {
  margin: 0;
  color: var(--color-gray);
}
.fileInput {
  display: none;
}

.uploadButton {
  position: absolute;
  top: 22px;
  right: 28px;
  width: fit-content;
  height: fit-content;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font: var(--typo-pretendard-medium-14);
  cursor: pointer;
  border-radius: 8px;
}
.previewContainer {
  width: 95px;
  height: 95px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ececec;
}
.previewImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* =====================
Password Input CSS
===================== */
.passwordContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.passwordContainer input {
  flex-grow: 1;
}
.btnEye {
  border: none;
  background-color: transparent;
}

/* =====================
에러 메시지 CSS
===================== */
.wrapper.errorInput {
  border: 1px solid var(--text-error);
}
