.inputWrap {
  background-color: #fafafb;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 16px;
  padding-top: 30px;
  border-radius: 25px;
  position: relative;
}
.inputWrap:last-child {
  margin-bottom: 40px;
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 16px;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  z-index: 99;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  opacity: 0.4;
}
.closeBtn > img {
  width: 100%;
  height: 100%;
}
.closeBtn:hover {
  transform: rotate(90deg) scale(1.05);
  opacity: 1;
}
