.inputWrap {
  background-color: #fafafb;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 16px;
  padding-top: 22px;
  border-radius: 25px;
  position: relative;
}
.inputWrap:last-child {
  margin-bottom: 40px;
}

/* 삭제 버튼 css */
.btnWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 0px 28px;
}
.deleteBtn {
  width: 18px;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  z-index: 99;
  /* transition: transform 0.4s ease-in-out; */
  transform-origin: center;
  opacity: 0.4;
}
.deleteBtn > img {
  width: 100%;
  height: 100%;
}
.deleteBtn:hover {
  /* transform: rotate(90deg) scale(1.05); */
  opacity: 1;
}
.bar {
  width: 100%;
  height: 1px;
  background: #ddd;
}
