.inputWrap {
  background-color: #fafafb;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 16px;
  padding-top: 22px;
  border-radius: 25px;
  position: relative;
}
.inputWrap:last-child {
  margin-bottom: 40px;
}

/* .closeBtn {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 16px;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  z-index: 99;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  opacity: 0.4;
}
.closeBtn > img {
  width: 100%;
  height: 100%;
}
.closeBtn:hover {
  transform: rotate(90deg) scale(1.05);
  opacity: 1;
} */
.deleteBtn {
  position: absolute;
  bottom: 24px;
  right: 28px;
  width: fit-content;
  height: fit-content;
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid var(--color-black);
  color: var(--color-black);
  font: var(--typo-pretendard-medium-14);
  cursor: pointer;
  border-radius: 8px;
}
