.inputWrap {
  background-color: #fafafb;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 16px;
  border-radius: 25px;
}
.inputWrap:last-child {
  margin-bottom: 40px;
}
