.card {
  background: #fafafb;
  border-radius: 24px;
  padding: 20px;
  max-width: 720px;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px;
}

.avatar {
  font-size: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  border-radius: 50%;
}

.info {
  flex: 1;
}

.info h2 {
  font: var(--typo-pretendard-medium-18);
  color: var(--text-primary);
  margin-bottom: 5px;
}

.info p {
  font: var(--typo-pretendard-regular-16);
  color: var(--color-gray);
  margin: 2px 0;
}

.productImages {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  gap: 12px;
}

.productTitle {
  margin-bottom: 8px;
}
